<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="APIPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://practica2-ipc2vj17.rhcloud.com:80/practica2/API"
                binding="basicHttpBinding" bindingConfiguration="APIPortBinding"
                contract="ServiceReference1.API" name="APIPort" />
        </client>
    </system.serviceModel>
</configuration>
